div#blok1_maksymiuk 
{
  width: 613px;
  background-color: #00FF00
}
div#blok2_maksymiuk 
{
  width: 613px;
  background-color: #00FF00 
}
div#blok2_maksymiuk 
{
  width: 613px;
  background-color: #00FF00
}
